node_modules/
.DS_Store
python/config

download/*
!download/.gitkeep

upload/*
!upload/.gitkeep

public/image/blured/*
!public/image/blured/.gitkeep

public/image/original/*
!public/image/original/.gitkeep

.vscode

python/__pycache__
