extends layout

block content
  header.main-header
    nav.main-header__nav

      

  main
    h1 This is main page of #{title}
    h1 debug: #{fileName}
    h1 upload
    form(action="/upload" method='POST' enctype="multipart/form-data") 
      input(type="file" name="image")
      input(type="submit" value="upload")
    .show
      #left.file-show 
        .file-show-container 
          img.image(src=originPath, alt="")
          #left-highlight.highlight 
            style(type="text/css").
              #left-highlight {
                margin-left: 0px;
                margin-top: 0px;
                width: 100px;
                height: 100px;
              }
          

      .seperator

      #right.file-show
        .file-show-container
          img(src="/image/blured/bluredtext.png", alt="").image
          each paragraph in paragraphs 
            .parag(style="margin-left: " + paragraph.left + "px; margin-top: " + paragraph.top + "px; width: " + paragraph.width + "px;") #{paragraph.text}
          #right-highlight.highlight 
            style(type="text/css").
              #right-highlight {
                margin-left: 0px;
                margin-top: 0px;
                width: 100px;
                height: 100px;
              }

    .download 
      form(action='/download/' + fileName)
        input(type="submit" value="download")




  script.
    $(document).ready(function(){
      var master = "left"; 
      var slave = "right"; 
      var master_tmp;
      var slave_tmp;
      var timer;
      var sync = function ()
      {
        if($(this).attr('id') == slave)
        {
          master_tmp = master;
          slave_tmp = slave;
          master = slave;
          slave = master_tmp;
        }
        $("#" + slave).unbind("scroll");
        $("#" + slave).scrollTop(this.scrollTop);
        $("#" + slave).scrollLeft(this.scrollLeft);
        if(typeof(timer) !== 'undefind')
          clearTimeout(timer);
        timer = setTimeout(function(){ $("#" + slave).scroll(sync) }, 200)
      }
      $('#' + master + ', #' + slave).scroll(sync);
    });

    $(".highlight").hover(function() {
      $("#left-highlight").css("opacity","50%");
      $("#right-highlight").css("opacity","50%");
    },
    function() {
      $("#left-highlight").css("opacity","0%");
      $("#right-highlight").css("opacity","0%");
    });