doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/stylesheets/style.css')
  script(src="https://code.jquery.com/jquery-3.5.1.min.js")
  script(type="module" src="/js/html2canvas.js") 
  script(src="/js/index.js") 
  script(src="https://cdn.tailwindcss.com")
  link(rel="stylesheet", href="http://cdn.materialdesignicons.com/6.5.95/css/materialdesignicons.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.11.2/toastify.min.css")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.8.1/cdn.min.js")
  script(src="https://cdn.jsdelivr.net/npm/translate@1/translate.min.js")  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js") 


  title TranX

    
  body
    block content
