/* @tailwind base;
@tailwind components;
@tailwind utilities; */


#maincontent {
  padding: 100px;
}



.show
{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}


.file-show
{
  width: 50%;
  height: 600px;
  overflow: auto;
  display: flex;
  border-radius: 1%;
  border-color: black;
  position: relative;
  vertical-align: auto;
  justify-content: center;
}

.file-show-container 
{
  margin: 0%;
  background-color: pink;
  display: grid;
  grid-template-columns: 1fr;
  min-height: 0;
}

.seperator
{
  height: 100%;
  background-color: pink;
  width: 100px;
}

.image
{
  grid-row-start: 1;
  grid-column-start: 1;
  width: auto;
  height: auto;
}

.highlight
{
  padding: 0;
  margin: 0;
  background-color: yellow;
  position: absolute;
  opacity: 0%;
}

/* .highlight:hover {
  background-color: yellow;
  opacity: 50%;
} */

.parag
{
  grid-row-start: 1;
  grid-column-start: 1;
}

.display-inline-block
{
  align-self: center;
  padding: 0;
  display: inline-block;
}

#show-header
{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

#show-header-left
{
  width: 90%;
  height: 30px;
}

#language
{
  height: 100%;
}

#show-header-right
{
  width: 10%;
  height: 30px;
}

#editable
{
  width: 100%;
  height: 100%;
}

#scale
{
  color: white;
  margin-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  margin-left: 30px;
  background-color: #4681f4;
}

#download
{
  color: white;
  margin-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: #4681f4;
}

#editable
{
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: #4681f4;
}

#uploadbutton
{
  margin-left: 25px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: #4681f4;
}

#language
{
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: #4681f4;
}


.parag-text
{
  margin: 0;
}