body {
  padding: 100px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgray;
}



.show
{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}


.file-show
{
  width: 50%;
  height: 400px;
  overflow: auto;
  display: flex;
  background-color: darkblue;
  border-radius: 2%;
  border-color: black;
  position: relative;
}

.file-show-container 
{
  margin: 0%;
  background-color: pink;
  display: grid;
  grid-template-columns: 1fr;
  min-height: 0;
}

.seperator
{
  height: 100%;
  background-color: pink;
  width: 100px;
}

.image
{
  grid-row-start: 1;
  grid-column-start: 1;
  width: auto;
  height: auto;
}

.highlight
{
  padding: 0;
  margin: 0;
  background-color: yellow;
  position: absolute;
  opacity: 0%;
}

/* .highlight:hover {
  background-color: yellow;
  opacity: 50%;
} */

.parag
{
  grid-row-start: 1;
  grid-column-start: 1;
}

.display-inline-block
{
  margin: 5%;
  padding: 0;
  display: inline-block;
}